---
title: AdaptCyber
call_to_action: Contact
background_image_path:
large_header: true
testimonials:
  - message: Adaptcyber testimonal 1
    image: //placekitten.com/g/60/60?a=.png
    name: Example 1
  - message: >-
      Adaptcyber testimonal 2. Being local, they care about people and have
      strong ties to the community.
    image: //fillmurray.com/60/60?a=.png
    name: Example 2
  - message: Adaptcyber testimonal 3. Highly recommended to all.
    image: //placebear.com/60/60?a=.png
    name: Example 3
_options:
  image:
    width: 60
    height: 60
---

<div class="editable">
	<p>Introducing <strong>Adaptcyber</strong> <a href="http://adaptcyber.com/">Gregory Fenwick</a> A local CyberSecurity, CCTV and IT support business helping you decode technology, and understand what vulnerabilities and threats are present in technology to make a safer home or small business.</p>

	<p>AdaptCyber is new startup based in Christchurch, with 15 years of international and local experience we have the knowledge and skills to help protect your family and or business.</p>
</div>

<!-- Commented Out until later date  <div class="testimonials">
	{% for testimonial in page.testimonials %}
		<blockquote class="testimonial">
			<p class="testimonial-message">{{ testimonial.message }}</p>
			<p class="testimonial-author"><img src="{% include relative-src.html src=testimonial.image %}" alt="Photo of {{ testimonial.name }}" /> {{ testimonial.name }}</p>
		</blockquote>
	{% endfor %}
 -->
